<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Sportsman_Field.SessionServices.SessionService" value="http://localhost/ISF/SportServices/SessionService.asmx"/>
		<add key="Sportsman_Field.DataServices.DataService" value="http://localhost/ISF/SportServices/DataService.asmx"/>
		<add key="ShowCreateTablesButton" value="0"/>
	<add key="Sportsman_Field.ChampionshipServices.ChampionshipService" value="http://localhost/ISF/SportServices/ChampionshipService.asmx"/></appSettings>
</configuration>
