<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Year" value="5775"/>
		<add key="DateFormat" value="dd/MM/yyyy HH:mm:ss"/>
	</appSettings>
	<connectionStrings>
		<add name="MainConnection" connectionString="data source=10.1.1.111;user id=mir;password=mir;database=SportFlowers"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
