<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogReportLevel" value="150" />
		<add key="PollIntervalMinutes" value="1" />
		<add key="PoolsToRecycle" value="TestFlash"/>
		<add key="PageToMonitor" value="http://localhost/Yahav/TestZone.asp"/>
		<add key="ExpireTimeSeconds" value="35"/>
	</appSettings>
</configuration>